*,
*:before,
*:after {
	box-sizing: border-box;
}
/* Global styling */
body {
	background-color: #000;
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	line-height: 1.1;
}
.no-disp {
	display: none;	
}
h1,
.h1 {
	text-transform: uppercase;
	font-weight: 400;
	color: #ec7a1f;
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 0.67em;
}
h2,
.h2 {
	color: #4d4d4d;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
}
h3,
.h3 {
	color: #4d4d4d;
	font-size: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #1a1a1a;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #FFF;
	text-decoration: none;
}
a:focus {
	outline-color: rgb(236, 122, 31);	
}
::-webkit-input-placeholder {
	color: #b0b0b0;
}
:-moz-placeholder {
	color: #b0b0b0;
	opacity: 1;
	filter: alpha(opacity=100);
}
::-moz-placeholder {
	color: #b0b0b0;
	opacity: 1;
	filter: alpha(opacity=100);
}
:-ms-input-placeholder {
	color: #b0b0b0;
}
.text-container a:link,
.text-container a:visited,
.text-container a:hover,
.text-container a:active {
	color: #000;
	text-decoration: underline;	
}
.text-container a:active {
	color: rgb(239, 122, 31);	
}
ul {
	padding-left: 0;
	list-style-type: none;
}
.text-container ul li {
	padding-left: 1em;	
}
.text-container ul li:before {
	content: '\203A';
	display: inline-block;
	width: 1em;
	margin-left: -1em;	
}
.text-container img {
	max-width: 100%;
	height: auto;	
}
p {
	text-align: justify;
}
.text-container {
	position: relative;
	line-height: 1.46;
	width: 100%;
	min-height: 100%;
	padding: 60px 130px;
	background-color: #FFF;
	color: #1a1a1a;
}
.text-container:after {
	content: '';
	clear: both;
	display: block;	
}
/* Layout */
.main {
	min-height: 940px;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 20.3125%;
	height: 100%;
	min-height: 940px;

}
.slider,
.text-content-wrap,
.aside-img {
	position: absolute;
	top: 0;
	left: 20.3125%;
	width: 39.0625%;
	height: 100%;
	min-height: 940px;
}
.text-content-wrap {
	width: 54.22%;
}
.text-content-wrap.fullwidth {
	width: 79.6875%;
}
.text-content-wrap.fullwidth + .aside-img {
	visibility: hidden;	
}
.aside-img {
	left: 74.5325%;
	width: 25.4675%;
	overflow: hidden;
	position: fixed;
	background-color: #CCC;
}
.aside-img img {
	min-width: 100%;
	min-height: 100%;	
}
.services {
	position: absolute;
	top: 0;
	left: 59.375%;
	width: 40.625%;
	height: 100%;
	min-height: 940px;
}
.vertical-center {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.vertical-center-content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: 100%;
	width: 100%;
}
/* Fonts */
@font-face {
	font-family: 'Bisous';
	src: url('fonts/Bisous.eot');
	src: local('Bisous'), url('fonts/Bisous.woff') format('woff'), url('fonts/Bisous.ttf') format('truetype'), url('fonts/Bisous.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header .menu,
.service-info h1 {
	font-family: 'Courier', 'Courier New', monospace;
}
.service-info .info-text {
	font-family: 'Open Sans', sans-serif;
}

/* Header */
.header {
	color: #FFF;
	background-color: #000;
	text-align: center;
	padding: 0 62px 0;
	overflow: hidden;
	background-image: url('/assets/bg/headerBg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.header.repeat-background {
	background-size: 100%;
	background-repeat: repeat-y;
}
.header .logo {
	display: block;
	margin-top: 75px;
	margin-bottom: 72.5px;
}
.header .logo img {
	width: 100%;
	max-width: 266px;
	max-height:  162px;
	height: auto;
}
.header .menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.header .menu li,
.header .menu li a {
	display: block;
	max-width: 440px;
	margin: 0 auto;
}
.header .menu li a {
	text-transform: uppercase;
	font-size: 20px;
	padding: 17px 8px;
	word-wrap: break-word;
}
.header .menu a:hover,
.header .menu a.active {
	color: #EF7A1F;
	background-image: url('/assets/bg/anchorBg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.header .menu li.social a {
	display: inline-block;
	margin-top: 20px;
	-webkit-transition: -webkit-transform 0.5s ease;
	        transition: transform 0.5s ease;
}
.social .fb-icon {
	background-image: url('/assets/bg/fbBig.png');
	display: inline-block;
	width: 46px;
	height: 46px;
}
.header .menu li.social a:hover {
	background-image: none;
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
/* Slider */
#slick-slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 940px;
}
#slick-slider .img-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 940px;
	position: relative;
}
#slick-slider .img-wrapper img {
	min-width: 100%;
	min-height: 100%;
}
#slick-slider .slide-text-content {
	position: absolute;
	color: #FFF;
	top: 37%;
	left: 20%;
	font-size: 65px;
	font-family: 'Bisous', cursive;
}
#slick-slider .slide-text-content .bigger {
	font-size: 115px;
	position: relative;
	left: 90px;
}
/* Services */
.services .service {
	height: 25%;
	min-height: 235px;
	position: relative;
	overflow: hidden;
}
.services .service .service-info,
.services .service .service-thumb {
	background-color: #000;
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	min-height: 235px;
	overflow: hidden;
}
.service-thumb img {
	min-width: 100%;
	min-height: 100%;
}
#service-1 .service-info,
#service-3 .service-info,
#service-2 .service-thumb,
#service-4 .service-thumb {
	left: 50%;
}
#service-2 .service-info,
#service-4 .service-info,
#service-1 .service-thumb,
#service-3 .service-thumb {
	left: 00%;
}
.service-info {
	text-align: center;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.service-info-anchor {
	display: block;
	height: 100%;
}
.service-info-anchor .vertical-center {
	min-height: 191px;
}
.service-info h1,
.service-info .h1 {
	color: #FFF;
	font-weight: 400;
	font-size: 27px;
	margin-bottom: 4px;
	text-transform: uppercase;
}
.service-info .info-text {
	font-weight: 700;
	font-size: 13px;
	color: #ef7a1f;
	text-transform: uppercase;
}
.service-info .info-text:after {
	content: '\2192';
	color: #FFF;
	padding-left: 10px;
	font-weight: 400;
	font-size: 25px;
	font-family: 'Courier', 'Courier New', monospace;
	vertical-align: baseline;
}

	/* Service Hover Effect */
.service-info .hover-effect h1,
.service-info .hover-effect .h1,
.service-info .hover-effect .info-text {
	-webkit-transition: color 0.8s ease;
	        transition: color 0.8s ease;
}
.hover-effect {
	padding: 22px;
}
.service-info .hover-effect:hover h1,
.service-info .hover-effect:hover .h1  {
	color: #EF7A1F;
}
.service-info .hover-effect:hover .info-text {
	color: #FFF;
}
.service-info .hover-effect .hover-outline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px dashed #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
	-webkit-transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
	        transition: opacity 0.8s ease, transform 0.8s ease;
}
.service-info .hover-effect:hover .hover-outline {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

#service-1 .service-info {
	background-image: url('/assets/bg/blackBg1.png');
}
#service-2 .service-info {
	background-image: url('/assets/bg/blackBg2.png');
}
#service-3 .service-info,
#service-4 .service-info {
	background-image: url('/assets/bg/blackBg3.png');
}
	/* Triangles */
.triangle-left,
.triangle-right {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 12px;
	height: 24px;
}
.triangle-left:after,
.triangle-right:after {
	content: '';

	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	top: -50%;
}
.triangle-right:after {
	background-image: url('/assets/bg/triangleRight.png');
}
.triangle-left:after {
	background-image: url('/assets/bg/triangleLeft.png');
	left: -100%;
}

/* O Nás */
.link-section {
	margin: 4em 0;
	position: relative;
}
.link-section .vertical-center-content {
	width: 50%;	
}
.link-section-text {
	z-index: 3;
}
.link-section-text p {
	margin: 1em;
	text-align: center;	
}
.link-section-img {
	z-index: 1;	
}
.link-section:after {
	content: '';
	display: block;
	border: 1px solid;
	position: absolute;
	z-index: 2;
	top: -10%;
	height: 120%;
	height: calc(120% - 2px);
	left: 45%;
	width: 55%;	
}
.flat,
a:link.flat,
a:visited.flat,
a:hover.flat,
a:active.flat {
	text-align: center;
	display: block;
	max-width: 50%;
	padding: 0.8em 0;
	margin: 1em auto;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: 700;
	-webkit-transition: background-color 0.8s ease, border-color 0.8s ease;
	        transition: background-color 0.8s ease, border-color 0.8s ease;
}
a:hover.flat {
	background-color: #ec7a1f;
}
.sign-img {
	float: right;	
}
p.quote {
	margin: 3em 0;	
}
q {
	font-weight: 700;
}
/* Reference */
.text-container .tabs-nav {
	margin-bottom: 1em;
	display: block;
	border-bottom: 1px solid #bcbcbc;
}
.text-container .tabs-nav li {
	display: inline-block;
	padding: 0 2em 0 0;
}
.text-container .tabs-nav li:before {
	content: none;
}
.tabs-nav .h1 {
	display: inline-block;
	position: relative;
	color: rgb(26, 26, 26);
}
.tabs-nav .h1:hover,
.tabs-nav li.active .h1 {
	color: #ec7a1f;
}
.tabs-nav .h1:hover:after,
.tabs-nav li.active .h1:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	left: 0;
	bottom: -0.83em;
	border-bottom: 4px solid #ec7a1f;
}
/* Kontakty */
#kontakty .text-container,
#reference .text-container {
	padding-right: 250px;	
}
.adress-block {
	margin: 3em 0 6em;	
}
.foto {
	float: right;
	position: relative;
	top: -5em;
}
.contact-form input,
.contact-form textarea {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid #b0b0b0;
}
.contact-form input:focus,
.contact-form textarea:focus {
	outline-color: rgb(236, 122, 31);	
}
.contact-form textarea {
	resize: vertical;
	min-height: 10em;	
}
.contact-form input[type=submit] {
	max-width: 200px;
	background-color: #DDD;
}
#google-map-box {
	width: 100%;
	height: 100%;	
}
/* Item Box */
.sep {
	margin-top: 1.2em;
}
.item {
	margin-top: 15px;
	text-align: center;
	background-color: #000;	
}
.item-thumbnail {
	width: 100%;
	display: block;
}
.item-info {
	color: #FFF;
	padding: 1em;
	background-image: url('/assets/bg/blackBg3.png');
	background-size: cover;
}
.item-info h1,
.item-info .h1 {
	margin-top: 0;
	font-size: 20px;	
}
.item-info .map-marker {
	background-image: url('/assets/bg/map-marker.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 14px;
	height: 24px;
	padding-right: 2em;
	position: relative;
	top: 5px;
}
.item-position {
	margin-bottom: 1.5em;	
}
.item-info .flat {
	border: 1px solid #333;
}
.item-info .flat:hover {
	border-color: transparent;	
}
/* Detail */
.img-gallery img {
	width: 100%;
	display: block;	
	margin-top: 15px;
}
/* Media Queries */
@media( max-width:1700px ) {
	#reference .text-container {
		padding-right: 130px;	
	}
}
@media( max-width:1500px ) {
	.header {
		width: 34.211%;
		float: left;
		position: relative;
	}
	.slider,
	.aside-img {
		left: 34.211%;
		width: 65.789%;
	}
	.aside-img {
		position: absolute;	
	}
	.text-content-wrap.fullwidth + .aside-img {
		visibility: visible;	
	}
	.services,
	.text-content-wrap,
	.text-content-wrap.fullwidth {
		clear: both;
		position: static;
		width: 100%;
	}
	.services .service {
		min-height: 370px;
	}
	.text-content-wrap {
		min-height: 0;	
	}
	.text-container,
	#kontakty .text-container,
	#reference .text-container {
		padding: 80px;	
	}
	.google-map-wrap,
	.aside-img,
	.header {
		height: 940px;	
	}
}
@media( max-width:1350px ) {
	.services .service {
		min-height: 300px;
	}	
}
@media( max-width: 900px ) {
	.main,
	.header,
	.slider,
	.aside-img,
	.services,
	#slick-slider,
	#slick-slider .img-wrapper {
		min-height: 0;
	}
	.header,
	.slider,
	.text-content-wrap,
	.aside-img {
		position: static;
		width: 100%;
	}
	.header {
		background-size: cover;
		padding-bottom: 40px;
		float: none;
		height: auto;
	}
	.header .logo {
		margin-bottom: 62.5px;
	}
	.header .menu-activate {
		display: block;
		margin-bottom: 20px;
		width: 100%;
		height: 50px;
		text-align: center;
		vertical-align: super;
		line-height: 50px;
		cursor: pointer;
	}
	.header .menu-icon {
		display: inline-block;
		width: 44px;
		height: 32px;
		background-image: url('/assets/bg/menuSprite.png');
		background-position: -44px 0px;
		background-repeat: no-repeat;
	}
	.header .menu-icon.active {
		background-image: url('/assets/bg/menuSprite.png');
		background-position: 0px 0px;
	}
	#main-menu {
		display: none;
	}
	#main-menu.active {
		display: block;
	}
	.slider,
	.aside-img,
	.google-map-wrap {
		height: 420px;
	}
	#slick-slider .slide-text-content {
		top: 10%;
		left: 10%;
		font-size: 45px
	}
	#slick-slider .slide-text-content .bigger {
		font-size: 95px;
		left: 70px;
	}
	.text-container,
	#kontakty .text-container,
	#reference .text-container {
		padding: 50px;	
	}
}
@media ( max-width:700px ) {
	/* O Nás */
	.link-section-img {
		display: none;	
	}
	.link-section-text.vertical-center-content {
		width: 100%;	
	}
	.link-section:after {
		width: 100%;
		left: 0;	
	}
	/* Kontakty */
	.foto {
		float: none;
		position: relative;
		top: 0;
		width: 150px;
		margin-top: 2em;
	}	
}
@media( max-width:600px ) {
	#slick-slider .slide-text-content {
		font-size: 45px;
	}
	#slick-slider .slide-text-content .bigger {
		font-size: 75px;
		left: 0px;
	}
	.services .service {
		height: 600px;
		min-height: 600px;
	}
	.services .service .service-info,
	.services .service .service-thumb {
		position: absolute;
		top: 0;
		width: 100%;
		height: 50%;
	}
	#service-1 .service-info,
	#service-2 .service-info,
	#service-3 .service-info,
	#service-4 .service-info {
		top: 0%;
		left: 0%;
	}
	#service-1 .service-thumb,
	#service-2 .service-thumb,
	#service-3 .service-thumb,
	#service-4 .service-thumb {
		top: 50%;
		left: 0%;
	}
	.triangle-left,
	.triangle-right {
		width: 24px;
		height: 12px;
	}
	.triangle-left:after,
	.triangle-right:after {
		top: 0%;
		left: -50%;
		background-image: url('/assets/bg/triangleDown.png');
	}
	.text-container,
	#kontakty .text-container,
	#reference .text-container {
		padding: 25px;
	}
}